---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

const works = await getCollection('works');
---

<Layout>
  <main>
    <h1>WORKS</h1>
    <ul class="grid grid-cols-2 gap-x-10 gap-y-20">
      {
        works.map((work) => (
          <li>
            <a href={`/works/${work.id}`}>
              <h2>{work.data.title}</h2>
              <img src={work.data.image} alt={work.data.title} class="w-full aspect-3/2 object-cover object-top">
              <p>{work.data.kind}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
