---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

const works = await getCollection('works');
---

<Layout>
  <main class="font-ibm" >
    <h1 class="text-[2rem] md:text-[3rem]">WORKS</h1>
    <ul class="grid grid-cols-1 gap-y-10 mt-8 md:grid-cols-2 md:gap-x-10 md:gap-y-20 md:mt-15">
      {
        works.map((work) => (
          <li>
            <a href={`/works/${work.id}`}>
              <h2>{work.data.title}</h2>
              {work.data.image && <Image src={work.data.image} alt={work.data.title} class="w-full aspect-3/2 object-cover object-top" />}
              <p>{work.data.kind}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
