---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

const works = await getCollection('works');
---

<Layout>
  <main>
    <h1>WORKS</h1>
    <ul>
      {
        works.map((work) => (
          <li>
            <a href={`/works/${work.id}`}>
              <h2>{work.data.title}</h2>
              <img src={work.data.image} alt={work.data.title}>
              <p>{work.data.kind}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
